<div class="fixed-top" data-view="navbar-area">
  <nav class="navbar navbar-expand-lg bg-light" data-view="navbar">
    <div class="container navbar-items-wrapper">
      <a class="navbar-brand" href="/"><strong>GYM Buddy</strong></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <strong><i  class="fas fa-home">Home</i></strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#about">
              <strong><i class="fas fa-users">About Us</i></strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#history">
              <strong><i class="fas fa-history">Our Story</i></strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#service">
              <strong><i class="fas fa-handshake-o">Services</i></strong>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#testimonial">
              <strong><i class="fas fa-commenting">Testimonials</i></strong>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" href="blogs">
              <strong><i class="fas fa-rss">Blogs</i></strong>
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" href="/contact-us">
              <strong><i class="fas fa-address-book">Contact Us</i></strong>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
